@import "tailwindcss";

/* your global styles */
body {
  background-color: #347dc6;
  min-height: 100vh;
}
.title {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600;    /* font-semibold */
  color: white;
}

.text-muted {
  font-size: 0.875rem; /* text-sm */
  color: #9ca3af;      /* gray-400 */
}